---
import { Comment } from 'astro-pure/advanced'
import { Button, Collapse, Spoiler, Timeline } from 'astro-pure/user'
import PageLayout from '@/layouts/CommonPage.astro'
import Substats from '@/components/about/Substats.astro'
import ToolSection from '@/components/about/ToolSection.astro'

const headings = [
  { depth: 2, slug: 'tools', text: 'Tools' },
  { depth: 2, slug: 'fun fact', text: 'fun fact' },
  { depth: 2, slug: 'about-blog', text: 'About Blog' }
]
---

<PageLayout title='About' {headings} info='/about'>
  <p>A CS student</p>
  <p>
    一个刚刚入门CS的小白。试图在这个博客上记录一些学习的新东西避免忘记。曾经花了很多时间在游戏和tiktok上，后来觉得索然无味，遂慢慢开始学习。
  </p>
  {/* general-talk */}
  <!-- <h2 id='hobbies'>Hobbies</h2>
  <ul>
    <li>Lorem ipsum dolor sit amet, vidit suscipit at mei.</li>
    <li>
      Quem denique mea id. Usu ei regione indoctum dissentiunt, cu meliore fuisset mei, vel quod
      voluptua ne.
    </li>
    <li>Ex dicat impedit mel, at eum oratio possit voluptatum.</li>
    <li>Impetus fuisset ullamcorper pri cu, his posse iisque ad, aliquam honestatis usu id.</li>
  </ul> -->

  {/* tools */}
  <h2 id='tools'>Tools</h2>
  <p>常用的工具如下：</p>
  
  <ToolSection
    class='mb-5'
    title='Productivity'
    tools={[
      {
        name: 'Edge',
        description: 'Browser',
        href: 'https://www.microsoft.com/edge',
        icon: import('@/assets/tools/edge.svg?raw')
      },
      {
        name: 'Typora',
        description: 'Markdown Editor',
        href: 'https://typora.io/',
        icon: import('@/assets/tools/typora.svg?raw')
      }
    ]}
  />
  <ToolSection
    class='mb-5'
    title='Development'
    tools={[
      {
        name: 'VS Code',
        description: 'IDE',
        href: 'https://code.visualstudio.com/',
        icon: import('@/assets/tools/vscode.svg?raw')
      },
      
    ]}
  />
  <ToolSection
    class='mb-5'
    title='Environment'
    tools={[
      {
        name: 'Ubuntu 24.04 LTS',
        description: 'Linux Distribution',
        href: 'https://ubuntu.com/',
        icon: import('@/assets/tools/ubuntu.svg?raw')
      },
      {
        name: 'Windows 11',
        description: 'Framework Laptop 16',
        href: 'https://news.microsoft.com/windows11-general-availability/',
        icon: import('@/assets/tools/windows11.svg?raw')
      }
    ]}
  />

  <!-- {/* social-networks */}
  <h2 id='social-networks'>Social Networks</h2>
  <p>
    比较爱玩的社交网络如下：
  </p>
  <Substats
    stats={[
      {
        platform: 'GitHub',
        icon: 'github',
        link: 'https://github.com/Joyboy-01',
        text: 'code',
      },
      
      {
        platform: 'Steam',
        icon: 'steam',
        color: '#50769d',
        link: '',
        text: 'games',
      }
    ]} 
 /> -->

  {/* gossips */}
  <h2 id='gossips'>fun fact</h2>
    刚刚发现了古早的好玩的网站，无论你鼠标放在哪里都会有一个人指着你的鼠标 <a href="https://pointerpointer.com/" target="_blank">pointerpointer</a> 

  {/* about-blog */}
  <h2 id='about-blog'>About Blog</h2>
  <p>网站历史</p>

  <Timeline
    events={[
      {
        date: '2025-07-07',
        content:
          '网站使用 <a href="https://astro.build/" target="_blank">Astro</a> 和 <a href="https://github.com/srleom/astro-theme-resume" target="_blank">Astro Theme Resume</a>建立，一定程度上抄了大佬<a href="https://arthals.ink/" target="_blank">Arthals</a>的界面'
      }
    ]}
  />
  <Timeline
    events={[
      {
        date: '2025-07-05',
        content:
          '发现了 <a href="https://arthals.ink/" target="_blank">Arthals</a> 的主页'
      }
    ]}
  />
  <p>
    本站基于以下项目/服务提供商的资源和技术支持
  </p>
  <ul>
    <!-- <li>Domain: <a href='#' target='_blank'>Vercel</a></li> -->
    <li>
      域名: <a href='https://cloud.tencent.com/act/pro/warmup202506?fromSource=gwzcw.9884755.9884755.9884755&utm_medium=cpc&utm_id=gwzcw.9884755.9884755.9884755&msclkid=d989c04d2c8e18a863fea821ef74b2fd#LH' target='_blank'>腾讯云</a> 
    </li>
    <li>
      框架 & 主题: <a href='https://astro.build/' target='_blank'>Astro</a> + <a
        href='https://github.com/cworld1/astro-theme-pure'
        target='_blank'>Astro Theme Pure</a
      >
    </li>
    <li>
      评论系统: <a href='https://astro.build/' target='_blank'>waline</a> 
    </li>
   
  </ul>
  <Comment slot='bottom' />
</PageLayout>
